<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content">
  <div class="container-md">
    <h1>Board List Page</h1>
    <hr>
    <table class="table table-hover zebra-striping">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">title</th>
        <th scope="col">writer</th>
        <th scope="col">registerAt</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="bvo:${list}">
        <th scope="col">[[${bvo.bno}]]</th>
        <th scope="col">
          <a th:href="@{detail(bno=${bvo.bno})}" style="color: gray;">[[${bvo.title}]]</a>
        </th>
        <th scope="col">[[${bvo.writer}]]</th>
        <th scope="col">[[${bvo.registerAt}]]</th>
      </tr>
      </tbody>
    </table>

    <!--pagination line -->
    <!-- <<  >>  : 값이 false disabled -->
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li th:if="${pagingVO.hasPrev}" class="page-item">
          <a class="page-link" th:href="@{/board/list(pageNo = ${pagingVO.startPage-1})}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>

        <th:block th:each="i : ${#numbers.sequence(pagingVO.startPage, pagingVO.endPage)}">
          <li class="page-item">
            <a class="page-link" th:classappend="${pagingVO.pageNo eq i ? 'active' : '' }" th:href="@{/board/list(pageNo = ${i})}">[[${i}]]</a>
          </li>
        </th:block>

        <li th:if="${pagingVO.hasNext}" class="page-item">
          <a class="page-link" th:href="@{/board/list(pageNo = ${pagingVO.endPage+1})}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>

  </div>
</div>