<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--/* th:fragment="이름" : 레이아웃에서 사용할 조각 */-->
<div th:fragment="footer" style="font-size: 12px; color: gray;">
  <hr>
  <div class="container-md d-flex justify-content-between p-3">
    <ul class="col-11 d-flex gap-3">
      <li>이용약관</li>
      <li>위치정보 이용약관</li>
      <li>개인정보처리방침</li>
      <li>운영정책</li>
      <li>청소년보호정책</li>
      <li>접근성 안내</li>
      <li>브랜드보호정책</li>
      <li>권리침해신고안내</li>
      <li>사이버윤리실</li>
      <li>Contact Us</li>
    </ul>
    <div class="col-1 d-flex gap-3 justify-content-end">
      <img src="/image/insta.png" style="width: 30px; height: 30px;">
      <img src="/image/twitter.png" style="width: 30px; height: 30px;">
      <img src="/image/facebook.png" style="width: 30px; height: 30px;">
      <img src="/image/youtube.png" style="width: 30px; height: 30px;">
    </div>
  </div>
  <div class="container-md">
      <span>© SooKyung Corp. All rights reserved.</span>
  </div>
</div>